


CTRADER_ENV=demo

CTRADER_CLIENT_ID=replace-me
CTRADER_CLIENT_SECRET=replace-me

CTRADER_ACCOUNT_ID=0
CTRADER_ACCESS_TOKEN=replace-me
CTRADER_REFRESH_TOKEN=replace-me


POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=tbot
POSTGRES_USER=tbot
POSTGRES_PASSWORD=tbot


REDIS_URL=redis://localhost:6380/0


MAX_ACCOUNT_RISK_PCT=0.005
MAX_DAILY_LOSS_PCT=0.02
MAX_OPEN_POSITIONS=5
MAX_LEVERAGE=5


ALLOW_LIVE_TRADING=false


SLACK_WEBHOOK_URL=


LOG_LEVEL=INFO
LOG_FORMAT=json
HEARTBEAT_SECONDS=30
